# установка библиотек

In [22]:
!pip install sklearn
!pip install pandas
!pip install seaborn

Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [15 lines of output]
      The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
      rather than 'sklearn' for pip commands.

      Here is how to fix this error in the main use cases:
      - use 'pip install scikit-learn' rather than 'pip install sklearn'
      - replace 'sklearn' by 'scikit-learn' in your pip requirements files
        (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
      - if the 'sklearn' package is used by one of your dependencies,
        it would be great if you take some time to track which package uses
        'sklearn' instead of 'scikit-learn' and report it to their issue tracker
      - as a last resort, set the environment variable
        SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

      More information is available at
      https://github.com/scikit-learn/sklearn-pypi-package
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.
Requirement already satisfied: pandas in ./.venv/lib/python3.11/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in ./.venv/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: seaborn in ./.venv/lib/python3.11/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in ./.venv/lib/python3.11/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in ./.venv/lib/python3.11/site-packages (from seaborn) (2.2.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in ./.venv/lib/python3.11/site-packages (from seaborn) (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

инмортирую библиотеки

In [23]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from phik.report import plot_correlation_matrix

загркжаю результат предыдущей сессии

In [24]:
data=pd.read_csv('/home/user1/Desktop/Сессия 1/Data/выборка.csv')
data.head()

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
0,1,718,2014-02-20 10:02:45,no info,no info,no info,no info,no info,no info,no info,...,no info,no info,no info,no info,no info,no info,no info,no info,no info,0
1,2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
2,3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
3,4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
4,5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0

проверяю пустые значения и тип данных

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253561 entries, 0 to 253560
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   session_id  253561 non-null  int64
 1   site1       253561 non-null  int64
 2   time1       253561 non-null  object
 3   site2       253561 non-null  object
 4   time2       253561 non-null  object
 5   site3       253561 non-null  object
 6   time3       253561 non-null  object
 7   site4       253561 non-null  object
 8   time4       253561 non-null  object
 9   site5       253561 non-null  object
 10  time5       253561 non-null  object
 11  site6       253561 non-null  object
 12  time6       253561 non-null  object
 13  site7       253561 non-null  object
 14  time7       253561 non-null  object
 15  site8       253561 non-null  object
 16  time8       253561 non-null  object
 17  site9       253561 non-null  object
 18  time9       253561 non-null  object
 19  site10      253561 non-null  object
 20  time10      253561 non-null  object
 21  target      253561 non-null  int64
dtypes: int64(3), object(19)
memory usage: 42.6+ MB

вижу что типы данных разные

перекодирую все значение в единый тип int64

In [26]:
from sklearn import preprocessing

# Напишем функцию, которая принимает на вход DataFrame, кодирует числовыми значениями категориальные признаки
# и возвращает обновленный DataFrame и сами кодировщики.
def number_encode_features(init_df):
    result = init_df.copy() # копируем нашу исходную таблицу
    encoders = {}
    for column in result.columns:
        if result.dtypes[column] == object: # np.object -- строковый тип / если тип столбца - строка, то нужно его закодировать
            encoders[column] = preprocessing.LabelEncoder() # для колонки column создаем кодировщик
            result[column] = encoders[column].fit_transform(result[column]) # применяем кодировщик к столбцу и перезаписываем столбец
    return result, encoders

data1, encoders = number_encode_features(data) # Теперь encoded data содержит закодированные кат. признаки
data1.head()

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
0,1,718,129923,15821,233597,15759,230761,15775,228188,15840,...,223712,15772,221851,15854,219987,15724,218006,15675,216169,0
1,2,890,135309,15504,133727,11316,132077,15446,130535,15519,...,127956,11281,126861,11325,125762,2565,124582,2555,123511,0
2,3,14769,61632,11479,60811,2413,59945,2352,59151,10873,...,57848,2370,57298,2360,56780,2383,56229,2351,55689,0
3,4,782,199859,14654,197530,14591,195306,14596,193234,14667,...,189536,14602,187999,14651,186420,14556,184871,14521,183293,0
4,5,22,154140,3665,152413,3619,150566,3629,148873,3623,...,145929,3568,144726,3614,143468,3629,142193,3643,140956,0

проверяю тип данных

In [27]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253561 entries, 0 to 253560
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   session_id  253561 non-null  int64
 1   site1       253561 non-null  int64
 2   time1       253561 non-null  int64
 3   site2       253561 non-null  int64
 4   time2       253561 non-null  int64
 5   site3       253561 non-null  int64
 6   time3       253561 non-null  int64
 7   site4       253561 non-null  int64
 8   time4       253561 non-null  int64
 9   site5       253561 non-null  int64
 10  time5       253561 non-null  int64
 11  site6       253561 non-null  int64
 12  time6       253561 non-null  int64
 13  site7       253561 non-null  int64
 14  time7       253561 non-null  int64
 15  site8       253561 non-null  int64
 16  time8       253561 non-null  int64
 17  site9       253561 non-null  int64
 18  time9       253561 non-null  int64
 19  site10      253561 non-null  int64
 20  time10      253561 non-null  int64
 21  target      253561 non-null  int64
dtypes: int64(22)
memory usage: 42.6 MB

вижу у всех данных одинаковый тип

# 2.1 Визуальный анализ данных

1 визуалицация

In [ ]:
features_target = data1
interval_cols = data1
phik_overview = features_target.phik_matrix(interval_cols=interval_cols)

# делаю матрицу кореляции т.к. она удобна чтобы посмотреть зависимоти данных

plot_correlation_matrix(phik_overview.values,
                        x_labels=phik_overview.columns,
                        y_labels=phik_overview.index,
                        vmin=0, vmax=1, color_map="Purples",
                        title="Корреляция признаков",
                        fontsize_factor=1,
                        figsize=(10, 10))
plt.tight_layout()

2 визуализация

я выбрал этот график т.к. на нем можно увидеить самый значимый атрибут , и вообщем это удобный график

In [ ]:
sns.histplot(data=data1)

3 визуализация

эта визуализация не очень удачная , т.к. она занимает много места , но на ней тоже видно зависимости данных

In [ ]:
sns.pairplot (data1)

## Отчет

### Из визуализации данных я вижу что атрибут target не зависим почти ни с каким признаком , поэтому я его удаляю 
Используя программные средства, я визуализировал зависимости атрибутов в наборе
данных. Визуализация отражает влияние атрибутов на целевую переменную. Я привел примеры
интерпретации полученных результатам.

In [42]:
data2=data1.drop(columns='target')
data2.head()

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
0,1,718,129923,15821,233597,15759,230761,15775,228188,15840,...,15768,223712,15772,221851,15854,219987,15724,218006,15675,216169
1,2,890,135309,15504,133727,11316,132077,15446,130535,15519,...,11308,127956,11281,126861,11325,125762,2565,124582,2555,123511
2,3,14769,61632,11479,60811,2413,59945,2352,59151,10873,...,11472,57848,2370,57298,2360,56780,2383,56229,2351,55689
3,4,782,199859,14654,197530,14591,195306,14596,193234,14667,...,14598,189536,14602,187999,14651,186420,14556,184871,14521,183293
4,5,22,154140,3665,152413,3619,150566,3629,148873,3623,...,3674,145929,3568,144726,3614,143468,3629,142193,3643,140956

# 2.2 Конструирование признаков (Feature Engineering)

Чтобы узнать самый релевантный признак , для начало нужно обучить модель , и после модель нам выдаст самый значивый признак

In [44]:
X=data2#присваиваю переменной X датафрейм

In [45]:
Y=data1['session_id']#переменной Y я задаю атрибут session_id

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

### разделяю данные на тестовую  и обучающую выборку 

test_size=0.2 задает размер тестовой выборки в 20% от исходных данных.

random_state=42 задает начальное значение для генератора случайных чисел, чтобы результаты можно было воспроизвести.

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

обучаю

In [48]:
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)

In [ ]:
data2.columns

присваиваю переменной col имена коллон

In [ ]:
col=[]

In [ ]:
importances = model.feature_importances_
indices = np.argsort(importances)[::-1]

ar_f=[]
for f, idx in enumerate(indices):
    ar_f.append([round(importances[idx],4), col[idx]])
print("Значимость признака:")
ar_f.sort(reverse=True)
ar_f

# 2.3 Подготовка отчета

Подготовьте отчет о проделанной работе по итогам сессии, в котором будут
представлены результаты, выводы и обоснования выбора по каждому разделу задания. Отчет
должен включать следующие пункты:

## Выбор способов визуализации:
Корреляционная матрица – в ней на пересечении соответствующих строки и столбца находится коэффициент корреляции между соответствующими параметрами, что подходит для зависимости данных


histplot - предназначен для построения гистограммы распределения данных.

парный график (pairplot) - функция  , подходящая для визуализации зависимости данных . С помощью pairplot можно создать точечные графики для отображения попарных отношений, а также график распределения, отображающий распределение данных в столбце по диагонали.
## Результаты визуализации:
Из визуализации данных я вижу что атрибут target не зависим почти ни с каким признаком , поэтому я его удаляю 


## Выбор и обоснование дополнения выборки новыми признаками: